extends ../layouts/default

block content
	.container: .row
		.col-sm-3.col-md-3
			aside
				.meta
					//- if data.activity.category == "Consulting"
					//- if data.activity.category
							| A 
							a(href='/activities/' + data.activity.category.key)= data.activity.category.name 
							|  activity
							br
					
				if data.activity.link
					.link
						a(href=data.activity.link, target="_blank")= data.activity._.link.format()
		.col-sm-8.col-sm-offset-1.col-md-9.col-md-offset-0
			article
				//-p: a(href='/activities') &larr; back to the activities
				//-hr
				if !data.activity
					h2 Invalid Activity.
				else
					header
						h1= data.activity.title

					if data.activity.keyImage.exists
						.image-wrap: img(src=data.activity._.keyImage.fit(750,450)).img-responsive
					.lead!= data.activity.content.brief
					!= data.activity.content.full

