extends ../layouts/default

block title
	title Andr&eacute; Kn&ouml;rig &mdash; #{data.activity.title}

block intro
	.container
		//-p: a(href='/works') &larr; back to the works
		//-hr
		if !data.activity
			h2 Invalid Project.
		else
			h1= data.activity.title


block content
	.container: .row
		.col-sm-4.col-md-4
			//aside(data-spy="affix" data-offset-top="110" data-offset-bottom="150")
			aside
				p.sub= data.activity.subtitle
				p.meta
					//- if data.activity.category == "Consulting"
					//- if data.activity.category
							| A 
							a(href='/works/' + data.activity.category.key)= data.activity.category.name 
							|  activity
							br
					if data.activity.date
						| on #{data.activity._.date.format('MMMM Do, YYYY')} 
						br
					if data.activity.place
						| at 
						a(href=data.activity.placeLink, target="_blank")= data.activity.place
						br
					if data.activity.geoLocation
						| in #{data.activity.geoLocation.suburb}
						br
				if data.activity.link
					p.link
						| &rarr; 
						a(href=data.activity.link, target="_blank")= data.activity._.link.format()
				p.tags
					if data.activity.industries && data.activity.industries.length
						| Industries: 
						each industry, i in data.activity.industries
							a(href="/tags/"+industry.key)= industry.name
							if i < data.activity.industries.length - 1
								|  | 
							else
								br
					if data.activity.technologies && data.activity.technologies.length
						| Technologies:  
						each tech, i in data.activity.technologies
							a(href="/tags/"+tech.key)= tech.name
							if i < data.activity.technologies.length - 1
								|  | 
							else
								br
					if data.activity.interactions && data.activity.interactions.length
						| Interactions:  
						each interaction, i in data.activity.interactions
							a(href="/tags/"+interaction.key)= interaction.name
							if i < data.activity.interactions.length - 1
								|  | 
							else
								br
					
		.col-sm-7.col-sm-offset-1.col-md-7.col-md-offset-0
			article
				if data.activity.keyImage.exists
					.img-key: img(src=data.activity._.keyImage.limit(750,450, {gravity:'center'}))
				.lead!= data.activity.content.brief
				!= data.activity.content.extended

			if (data.activity.gallery && data.activity.gallery.length) || (data.activity.embedCode1.exists)
				.row.gallery
					hr
					//-if data.activity.keyImage.exists
						.col-sm-4.col-md-4.gallery-image: img(src=data.activity._.keyImage.limit(400,300))
					each image in data.activity.gallery
						.col-xs-6.col-sm-4.col-md-3.item: a(href=image.limit(1200,1200, {gravity:'center'}))
							img(src=image.fill(200,120, {gravity:'center'})).img-responsive
					if data.activity.embedCode1.exists
						.col-xs-6.col-sm-4.col-md-3.item: a(href=data.activity.embedUrl1, class='mfp-iframe')
							img(src=data.activity.embedCode1.thumbnailUrl, width=200, height=120).img-responsive
					if data.activity.embedCode2.exists
						.col-xs-6.col-sm-4.col-md-3.item: a(href=data.activity.embedUrl2, class='mfp-iframe')
							img(src=data.activity.embedCode2.thumbnailUrl, width=200, height=120).img-responsive
					if data.activity.embedCode3.exists
						.col-xs-6.col-sm-4.col-md-3.item: a(href=data.activity.embedUrl3, class='mfp-iframe')
							img(src=data.activity.embedCode3.thumbnailUrl, width=200, height=120).img-responsive

			if data.activity.works && data.activity.works.length
				.row.related
					hr
					.col-xs-7
						h4 Related works
						each project, i in data.activity.works
							a(href="/works/project/" + project.slug)= project.title
							if i < data.activity.works.length - 1
								| , 
							else

	#activity-map


block css
	link(rel="stylesheet", href="/js/lib/magnific-popup.css")

block js
	if data.activity.gallery.length
		script(src="/js/lib/jquery.magnific-popup.min.js")

		script.
			$(document).ready(function() {
				$('.gallery').magnificPopup({
					delegate: 'a',
					type: 'image',
					closeBtnInside: false,
					mainClass: 'mfp-with-zoom mfp-img-mobile',
					gallery: {
						enabled: true,
						navigateByImgClick: true,
						preload: [0,1],
						arrowMarkup: '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%"></button>',
					},
					zoom: {
						enabled: true,
						duration: 300,
						opener: function(element) {
							return element.find('img');
						}
					}
				});
			});

	script(src='/js/lib/underscore-min.js')
	script(src='https://maps.googleapis.com/maps/api/js?key=' + mapsApiKey + '&sensor=false')
	script.
		var MY_MAPTYPE_ID = 'custom_style';
		var activityLatLng = new google.maps.LatLng(
			!{data.activity.geoLocation.geo[1]}, 
			!{data.activity.geoLocation.geo[0]});

		function initialize() {

			var mapOptions = {
				center: activityLatLng,
				zoom: 10,
				disableDefaultUI: true,
			    mapTypeControlOptions: {
			      mapTypeIds: [google.maps.MapTypeId.ROADMAP, MY_MAPTYPE_ID]
			    },
			    mapTypeId: MY_MAPTYPE_ID
			};

			var featureOptions = [
				{
				  stylers: [
				    { hue: '#e6e4de' },
				    { visibility: 'simplified' },
				    { gamma: 1.0 },
				    { weight: 1.0 }
				  ]
				},
				{
				  elementType: 'labels',
				  stylers: [
				    { visibility: 'on' }
				  ]
				},
				{
				  featureType: 'water',
				  stylers: [
				    { color: '#e6e4de' }
				  ]
				}
			];


			var map = new google.maps.Map(document.getElementById("activity-map"),
				mapOptions);

			var styledMapOptions = {
				name: 'Custom Style'
			};

			var customMapType = new google.maps.StyledMapType(featureOptions, styledMapOptions);

			map.mapTypes.set(MY_MAPTYPE_ID, customMapType);
		
			var marker = new google.maps.Marker({
				position: activityLatLng,
				map: map,
				title: '!{data.activity.title}',
				icon: '/images/marker.svg'
			});

			var infowindow = new google.maps.InfoWindow({
				content: '<div id="marker">'+
			      '<h5>!{data.activity.geoLocation.name}</h5>' + 
			      '<p>!{data.activity.geoLocation.suburb}, !{data.activity.geoLocation.country}</p>'+
			      '</div>'
			});
			infowindow.open(map, marker);
		}

		google.maps.event.addDomListener(window, 'load', initialize);
