extends ../layouts/default

block content
	.container: .row
		.col-sm-3.col-md-3
			aside
				.meta
					//- if data.project.category == "Consulting"
					//- if data.project.category
							| A 
							a(href='/works/' + data.project.category.key)= data.project.category.name 
							|  project
							br
					if data.project.role
						| as #{data.project.role}
						br
					if data.project.partners && data.project.partners.length
						| with 
						each partner, i in data.project.partners
							a(href=partner.link)= partner.name
							if i < data.project.partners.length - 1
								| , 
							else
								br
					if data.project.clients && data.project.clients.length
						| for 
						each client, i in data.project.clients
							a(href=client.link)= client.name
							if i < data.project.clients.length - 1
								| , 
							else
								br
					if data.project.fromDate
						| in #{data.project._.fromDate.format('YYYY')} 
				.tags
					if data.project.technologies && data.project.technologies.length
						| Technologies:  
						each tech, i in data.project.technologies
							a(href=tech.key)= tech.name
							if i < data.project.technologies.length - 1
								| , 
							else
								br
					if data.project.interactions && data.project.interactions.length
						| Interactions:  
						each interaction, i in data.project.interactions
							a(href=interaction.key)= interaction.name
							if i < data.project.interactions.length - 1
								| , 
							else
								br
		.col-sm-8.col-sm-offset-1.col-md-9.col-md-offset-0
			article
				//-p: a(href='/works') &larr; back to the works
				//-hr
				if !data.project
					h2 Invalid Project.
				else
					header
						h1= data.project.title
						h3= data.project.innovation
						
					.project
						if data.project.keyImage.exists
							.image-wrap: img(src=data.project._.keyImage.fit(750,450)).img-responsive
						.lead!= data.project.content.brief
						!= data.project.content.full

			if data.project.gallery.length
				.row.gallery-images
					//-if data.project.keyImage.exists
						.col-sm-4.col-md-4.gallery-image: img(src=data.project._.keyImage.limit(400,300))
					each image in data.project.gallery
						.col-xs-6.col-sm-4.col-md-3.gallery-image: img(src=image.limit(400,300)).img-thumbnail

			if data.project.activities && data.project.activities.length
				.row.related
					h3 Related activities
					each activity, i in data.project.activities
						a(href="/activities/activity/" + activity.slug)= activity.title
						if i < data.project.activities.length - 1
							| , 
						else
